#welcome-ott-libs-container {
  text-align: center;
}
#new-game-btn {
  text-align: center;
}
#game-play {
  background-color: #fff;
  display: none;
}

span {
  color: blue;
  font-weight: bold;
}

.imageDiv {
  -webkit-clip-path: polygon(270px 420px,690px 420px,690px 0px,270px 0px);

}

.hideMe {
  display: none;
}
